
<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" th:href="favicon.ico" type="image/x-icon"/>

<title>Bilkent Tours</title>

<!-- Bootstrap Core and Vendor -->
<link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}" rel="stylesheet">


    <!-- Core CSS -->
<link rel="stylesheet" th:href="@{/assets/css/status-legend.css}" />
<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
<link rel="stylesheet" th:href="@{/assets/css/theme1.css}" />
</head>

<body class="font-montserrat offcanvas-active">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">

    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <img class="avatar" th:src="@{/bilkent.png}" alt="User Avatar"
                         style="width: 40px; height: 40px; border-radius: 50%; margin-top:5px;">
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa  fa-align-left"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="left-sidebar" class="sidebar ">
        <h5 class="brand-name"
            style="font-weight: bold; margin-left: 5px; font-size: 18px; margin-top: 10px;">
            <span th:if="${role == 'ROLE_GUIDE'}">Guide</span>
            <span th:if="${role == 'ROLE_GUIDE_IN_TRAINING'}">Guide in Training</span>
            <span th:if="${role == 'ROLE_ADVISOR'}">Advisor</span>
            <span th:if="${role == 'ROLE_COORDINATOR'}">Coordinator</span>
            <span th:if="${role == 'ROLE_HEAD_SECRETARY'}">Head Secretary</span>
            <span th:if="${role == 'ROLE_DIRECTOR'}">Director</span>
        </h5>

        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading"></li>
                <li class="active">
                    <a th:href="@{/dashboard}">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/getAllUsers}">
                        <i class="fa fa-user"></i><span>Members</span>
                    </a>
                </li>
                <li>
                <li>
                    <a th:href="@{/getIncidentReports}">
                        <i class="fa fa-user"></i><span>Incident Reports</span>
                    </a>
                <li>
                    <a th:href="@{/ui/task/todo}">
                        <i class="fa fa-check-square-o"></i><span>Todo List</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/calendar}">
                        <i class="fa fa-calendar"></i><span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/ui/UserProfile/profile}">
                        <i class="fa fa-user"></i><span>My profile</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="page">
        <div id="page_top" class="section-body top_dark mb-20">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa fa-align-left"></i></a>
                        <h1 class="page-title">Tours and Fairs</h1>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments:: searchFilterBar('eventDaySelect')"></div>
        <div class="section-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <ul class="nav nav-tabs page-header-tab" role="tablist">
                                <!-- Tours Tab -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#Tours" role="tab">Tours</a>
                                </li>
                                <!-- Fairs Tab -->
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Fairs" role="tab">Fairs</a>
                                </li>
                                <!-- Individual Tours Tab -->
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Individual-Tours" role="tab">Individual Tours</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tab Content -->
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="tab-content">
                    <!-- Tours Content -->
                    <div class="tab-pane fade show active" id="Tours" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="status-legend table-responsive" style="overflow-x: auto;">
                                            <table class=" table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th style="width: 1%;">Action</th>
                                                    <th style="width: 1%;">Date</th>
                                                    <th style="width: 1%;">Day</th>
                                                    <th style="width: 1%;">Hour</th>
                                                    <th style="width: 1%;">High School</th>
                                                    <th style="width: 1%;">City</th>
                                                    <th style="width: 1%;">People Count</th>
                                                    <th style="width: 1%;">Counselor Name</th>
                                                    <th style="width: 1%;">Contact</th>
                                                    <th style="width: 1%;">Guide Count</th>
                                                    <th style="width: 1%;">Guide 1</th>
                                                    <th style="width: 1%;">Guide 2</th>
                                                    <th style="width: 1%;">Guide 3</th>
                                                    <th style="width: 1%;">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr id="tours-row-${tour.id}" th:each="tour : ${tours}"
                                                    th:classappend="
                                                                        ${tour.status.name() == 'COMPLETED_TOUR'} ? 'completed-tour' :
                                                                        (${tour.status.name() == 'CANCELED_TOUR'} ? 'canceled-tour' : '')">

                                                    <!-- Show "Mark As Completed" Button if already assigned -->
                                                    <td>
                                                        <div th:if="${#lists.contains(guide.events, tour)
                                                                        && tour.status.name() == 'UPCOMING_TOUR'
                                                                        && tour.date <= currentDate}">
                                                            <button
                                                                    class="btn btn-sm btn-success complete-tour-button"
                                                                    th:data-tour-id="${tour.id}"
                                                                    th:data-guide-id="${guide.id}"
                                                                    th:data-highschool-name="${tour.school.name}"
                                                                    th:data-tour-date="${#dates.format(tour.date, 'dd/MM/yyyy')}">
                                                                <i class="fas fa-check"></i> <!-- Tick icon only -->
                                                            </button>
                                                        </div>
                                                    </td>

                                                    <td th:text="${#dates.format(tour.date, 'dd/MM/yyyy')}">Date</td>
                                                    <td th:text="${#dates.format(tour.date, 'EEEE')}">Day</td>
                                                    <td th:switch="${tour.hour.name()}">
                                                        <span th:case="'NINE'">09:00</span>
                                                        <span th:case="'ELEVEN'">11:00</span>
                                                        <span th:case="'THIRTEEN_THIRTY'">13:30</span>
                                                        <span th:case="'SIXTEEN'">16:00</span>
                                                        <span th:case="*">Unknown</span>
                                                    </td>
                                                    <td th:text="${tour.school != null ? tour.school.name : 'Unknown'}">High School</td>
                                                    <td th:text="${tour.school != null ? tour.school.city : 'Unknown'}">High School</td>
                                                    <td style="text-align: center; vertical-align: middle;" th:text="${tour.peopleCount}"></td>
                                                    <td th:text="${tour.schoolCounselor.name}">Counselor Name</td>
                                                    <td th:text="${tour.schoolCounselor.phoneNumber}">Contact</td>
                                                    <td style="text-align: center; vertical-align: middle;" th:text="${tour.guideCount}"></td>

                                                    <!-- Guide 1 -->
                                                    <td>
                                                        <div th:if="${tour.guides.size() >= 1}">
                                                            <span th:text="${tour.guides[0].firstName + ' ' + tour.guides[0].lastName}"></span>
                                                        </div>
                                                        <div th:if="${tour.guides.size() < 1}">
                                                            <span>-</span>
                                                        </div>
                                                    </td>

                                                    <!-- Guide 2 -->
                                                    <td>
                                                        <div th:if="${tour.guides.size() >= 2}">
                                                            <span th:text="${tour.guides[1].firstName + ' ' + tour.guides[1].lastName}"></span>
                                                        </div>
                                                        <div th:if="${tour.guides.size() < 2}">
                                                            <span>-</span>
                                                        </div>
                                                    </td>

                                                    <!-- Guide 3 -->
                                                    <td>
                                                        <div th:if="${tour.guides.size() >= 3}">
                                                            <span th:text="${tour.guides[2].firstName + ' ' + tour.guides[2].lastName}"></span>
                                                        </div>
                                                        <div th:if="${tour.guides.size() < 3}">
                                                            <span>-</span>
                                                        </div>
                                                    </td>
                                                    <!-- Action Buttons -->
                                                    <td>

                                                        <!-- Show "Join Tour" Button if there's no conflict -->
                                                        <div th:if="${tour.guides.size() < tour.guideCount
                                                                        && tour.status.name() == 'UPCOMING_TOUR'
                                                                        && !#lists.contains(guide.events, tour)
                                                                        && !tourConflicts[tour.id]
                                                                        && tour.date > currentDate}">
                                                            <button
                                                                    class="btn btn-sm join-tour-button"
                                                                    th:data-tour-id="${tour.id}"
                                                                    th:data-guide-id="${guide.id}"
                                                                    th:data-school-name="${tour.school.name}"
                                                                    th:data-tour-date="${#dates.format(tour.date, 'dd/MM/yyyy')}">
                                                                Join Tour
                                                            </button>
                                                        </div>

                                                        <!-- Show "Leave Tour" Button if already assigned -->
                                                        <div th:if="${#lists.contains(guide.events, tour) && tour.status.name() == 'UPCOMING_TOUR'}">
                                                            <!-- Check if there are less than 7 days to the fair -->
                                                            <div th:if="${tour.date.time - currentDate.time >= 7 * 24 * 60 * 60 * 1000}">
                                                                <button
                                                                        class="btn btn-sm leave-tour-button"
                                                                        th:data-tour-id="${tour.id}"
                                                                        th:data-guide-id="${guide.id}"
                                                                        th:data-school-name="${tour.school.name}"
                                                                        th:data-tour-date="${#dates.format(tour.date, 'dd/MM/yyyy')}">
                                                                    Leave Tour
                                                                </button>
                                                            </div>
                                                            <!-- If less than 7 days are left, show "Locked" -->
                                                            <div th:if="${tour.date.time - currentDate.time < 7 * 24 * 60 * 60 * 1000}">
                                                                <span class="text-danger fw-bold">LOCKED</span>
                                                            </div>
                                                        </div>

                                                        <!-- Show "Time Conflict" Message if there's a conflict -->
                                                        <div th:if="${tour.guides.size() < tour.guideCount
                                                                        && tour.status.name() == 'UPCOMING_TOUR'
                                                                        && !#lists.contains(guide.events, tour)
                                                                        && tourConflicts[tour.id]}">
                                                            <span class="text-danger fw-bold">CONFLICT</span>
                                                        </div>

                                                        <!-- Show "No Guide Slot" Message if there's no slot -->
                                                        <div th:if="${tour.guides.size() == tour.guideCount
                                                                        && tour.status.name() == 'UPCOMING_TOUR'
                                                                        && !#lists.contains(guide.events, tour)}">
                                                            <span class="text-danger fw-bold">NO SLOT</span>
                                                        </div>
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="pagination-container text-center">
                                            <nav aria-label="Page navigation" th:if="${tours != null and tours.totalPages > 0}">
                                                <ul class="pagination d-inline-flex">
                                                    <!-- Previous Button -->
                                                    <li class="page-item" th:if="${tours.hasPrevious()}">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(toursPage=${tours.number - 1}, toursSize=${tours.size}, dayFilter=${selectedDay})}">
                                                            Previous
                                                        </a>
                                                    </li>
                                                    <!-- Page Numbers -->
                                                    <li class="page-item" th:each="i : ${#numbers.sequence(0, tours.totalPages - 1)}"
                                                        th:classappend="${i == tours.number} ? 'active'">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(toursPage=${i}, toursSize=${tours.size}, dayFilter=${selectedDay})}"
                                                           th:text="${i + 1}">
                                                        </a>
                                                    </li>
                                                    <!-- Next Button -->
                                                    <li class="page-item" th:if="${tours.hasNext()}">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(toursPage=${tours.number + 1}, toursSize=${tours.size}, dayFilter=${selectedDay})}">
                                                            Next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Legend -->
                        <div class="status-legend-container">
                            <ul class="status-legend list-unstyled d-flex justify-content-between align-items-center">
                                <li class="legend-item new">UPCOMING</li>
                                <li class="legend-item completed-tour">COMPLETED</li>
                                <li class="legend-item canceled-tour">CANCELED</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Fairs Content -->
                    <div class="tab-pane fade" id="Fairs" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive" style="overflow-x: auto;">
                                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th style="width: 1%;">Action</th>
                                                    <th style="width: 1%;">Date</th>
                                                    <th style="width: 1%;">Day</th>
                                                    <th style="width: 1%;">Hour</th>
                                                    <th style="width: 1%;">High School</th>
                                                    <th style="width: 1%;">City</th>
                                                    <th style="width: 1%;">People Count</th>
                                                    <th style="width: 1%;">Guide #</th>
                                                    <th style="width: 1%;">Guide 1</th>
                                                    <th style="width: 1%;">Guide 2</th>
                                                    <th style="width: 1%;">Guide 3</th>
                                                    <th style="width: 1%;">Counselor Name</th>
                                                    <th style="width: 1%;">Contact</th>
                                                    <th style="width: 1%;">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr id="fairs-row-${fair.id}" th:each="fair : ${fairs}"th:classappend="
                                                                        ${fair.status.name() == 'COMPLETED_FAIR'} ? 'completed-tour' :
                                                                        (${fair.status.name() == 'CANCELED_FAIR'} ? 'canceled-tour' : '')">
                                                    <!-- Show "Mark As Completed" Button if already assigned -->
                                                    <td>
                                                        <div th:if="${#lists.contains(guide.events, fair)
                                                         && fair.status.name() == 'UPCOMING_FAIR'
                                                         && fair.date <= currentDate}">
                                                            <button
                                                                    class="btn btn-sm btn-success complete-fair-button"
                                                                    th:data-fair-id="${fair.id}"
                                                                    th:data-guide-id="${guide.id}"
                                                                    th:data-highschool-name="${fair.school.name}"
                                                                    th:data-fair-date="${#dates.format(fair.date, 'dd/MM/yyyy')}">
                                                                <i class="fas fa-check"></i> <!-- Tick icon only -->
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td th:text="${#dates.format(fair.date, 'dd/MM/yyyy')}">Date</td>
                                                    <td th:text="${#dates.format(fair.date, 'EEEE')}">Day</td>
                                                    <td th:text="${fair.hour}">Hour</td>
                                                    <td th:text="${fair.school.name}">High School</td>
                                                    <td th:text="${fair.school.city}">City</td>
                                                    <td th:text="${fair.peopleCount}">People Count</td>
                                                    <td th:text="${fair.guideCount}">Guide #</td>
                                                    <!-- Logic for Guide 1 -->
                                                    <td>
                                                        <span th:if="${fair.guides.size() >= 1 && fair.status.name() != 'CANCELED_FAIR'}" th:text="${fair.guides[0].firstName + ' ' + fair.guides[0].lastName}"></span>
                                                        <span th:if="${fair.guides.size() < 1}">-</span>
                                                    </td>

                                                    <!-- Logic for Guide 2 -->
                                                    <td>
                                                        <span th:if="${fair.guides.size() >= 2 && fair.status.name() != 'CANCELED_FAIR'}" th:text="${fair.guides[1].firstName + ' ' + fair.guides[1].lastName}"></span>
                                                        <span th:if="${fair.guides.size() < 2}">-</span>
                                                    </td>

                                                    <!-- Logic for Guide 3 -->
                                                    <td>
                                                        <span th:if="${fair.guides.size() >= 3 && fair.status.name() != 'CANCELED_FAIR'}" th:text="${fair.guides[2].firstName + ' ' + fair.guides[2].lastName}"></span>
                                                        <span th:if="${fair.guides.size() < 3}">-</span>
                                                    </td>

                                                    <td th:text="${fair.schoolCounselor.name}">Counselor Name</td>
                                                    <td th:text="${fair.schoolCounselor.phoneNumber}">Contact</td>

                                                    <!-- Action Buttons -->
                                                    <td>
                                                        <!-- Show "Join Fair" Button if there's no conflict -->
                                                        <div th:if="${fair.guides.size() < fair.guideCount
                                                                        && fair.status.name() == 'UPCOMING_FAIR'
                                                                        && !#lists.contains(guide.events, fair)
                                                                        && !fairConflicts[fair.id]
                                                                        && fair.date > currentDate}">
                                                            <button
                                                                    class="btn btn-sm join-fair-button"
                                                                    th:data-fair-id="${fair.id}"
                                                                    th:data-guide-id="${guide.id}"
                                                                    th:data-fair-name="${fair.school.name}"
                                                                    th:data-fair-date="${#dates.format(fair.date, 'dd/MM/yyyy')}">
                                                                Join Fair
                                                            </button>
                                                        </div>

                                                        <!-- Show "Leave Fair" Button if already assigned -->
                                                        <div th:if="${#lists.contains(guide.events, fair) && fair.status.name() == 'UPCOMING_FAIR'}">
                                                            <!-- Check if there are less than 7 days to the fair -->
                                                            <div th:if="${fair.date.time - currentDate.time >= 7 * 24 * 60 * 60 * 1000}">
                                                                <button
                                                                        class="btn btn-sm leave-fair-button"
                                                                        th:data-fair-id="${fair.id}"
                                                                        th:data-guide-id="${guide.id}"
                                                                        th:data-fair-name="${fair.school.name}"
                                                                        th:data-fair-date="${#dates.format(fair.date, 'dd/MM/yyyy')}">
                                                                    Leave Fair
                                                                </button>
                                                            </div>
                                                            <!-- If less than 7 days are left, show "Locked" -->
                                                            <div th:if="${fair.date.time - currentDate.time < 7 * 24 * 60 * 60 * 1000}">
                                                                <span class="text-danger fw-bold">LOCKED</span>
                                                            </div>
                                                        </div>

                                                        <!-- Show "Time Conflict" Message if there's a conflict -->
                                                        <div th:if="${fair.guides.size() < fair.guideCount
                                                                        && fair.status.name() == 'UPCOMING_FAIR'
                                                                        && !#lists.contains(guide.events, fair)
                                                                        && fairConflicts[fair.id]}">
                                                            <span class="text-danger fw-bold">CONFLICT</span>
                                                        </div>

                                                        <!-- Show "No Guide Slot" Message if there's no slot -->
                                                        <div th:if="${fair.guides.size() == fair.guideCount
                                                                        && fair.status.name() == 'UPCOMING_FAIR'
                                                                        && !#lists.contains(guide.events, fair)}">
                                                            <span class="text-danger fw-bold">NO SLOT</span>
                                                        </div>

                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="pagination-container text-center">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination d-inline-flex" th:if="${fairs != null and fairs.totalPages > 0}">
                                                    <!-- Previous Button -->
                                                    <li class="page-item" th:if="${fairs.hasPrevious()}">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(fairsPage=${fairs.number - 1}, fairsSize=${fairs.size}, dayFilter=${selectedDay})}">
                                                            Previous
                                                        </a>
                                                    </li>
                                                    <!-- Page Numbers -->
                                                    <li class="page-item" th:each="i : ${#numbers.sequence(0, fairs.totalPages - 1)}"
                                                        th:classappend="${i == fairs.number} ? 'active'">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(fairsPage=${i}, fairsSize=${fairs.size}, dayFilter=${selectedDay})}"
                                                           th:text="${i + 1}">
                                                        </a>
                                                    </li>
                                                    <!-- Next Button -->
                                                    <li class="page-item" th:if="${fairs.hasNext()}">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(fairsPage=${fairs.number + 1}, fairsSize=${fairs.size}, dayFilter=${selectedDay})}">
                                                            Next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Legend -->
                        <div class="status-legend-container">
                            <ul class="status-legend list-unstyled d-flex justify-content-between align-items-center">
                                <li class="legend-item new">UPCOMING</li>
                                <li class="legend-item completed-tour">COMPLETED</li>
                                <li class="legend-item canceled-tour">CANCELED</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="Individual-Tours" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive" style="overflow-x: auto;">
                                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th style="width: 1%;">Action</th>
                                                    <th style="width: 1%;">Date</th>
                                                    <th style="width: 1%;">Day</th>
                                                    <th style="width: 1%;">Hour</th>
                                                    <th style="width: 1%;">Student Name</th>
                                                    <th style="width: 1%;">High School Name</th>
                                                    <th style="width: 1%;">City</th>
                                                    <th style="width: 1%;">Interested Field</th>
                                                    <th style="width: 1%;">Contact</th>
                                                    <th style="width: 1%;">Guide</th>
                                                    <th style="width: 1%;">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr id="individual-tours-row-${individualTour.id}" th:each="individualTour : ${individualTours}"
                                                    th:classappend="${individualTour.status.name() == 'COMPLETED_INDIVIDUAL_TOUR'} ? 'completed-tour' :
                                                                    (${individualTour.status.name() == 'CANCELED_INDIVIDUAL_TOUR'} ? 'canceled-tour' : '')">

                                                    <!-- Show "Mark As Completed" Button if already assigned -->
                                                    <td>
                                                        <div th:if="${#lists.contains(guide.events, individualTour)
                                                                      && individualTour.status.name() == 'UPCOMING_INDIVIDUAL_TOUR'
                                                                      && individualTour.date <= currentDate}">
                                                            <button
                                                                    class="btn btn-sm btn-success complete-individualTour-button"
                                                                    th:data-individualTour-id="${individualTour.id}"
                                                                    th:data-student-name="${individualTour.student.name}"
                                                                    th:data-tour-date="${#dates.format(individualTour.date, 'dd/MM/yyyy')}">
                                                                <i class="fas fa-check"></i> <!-- Tick icon only -->
                                                            </button>
                                                        </div>
                                                    </td>

                                                    <!-- Date -->
                                                    <td th:text="${#dates.format(individualTour.date, 'dd/MM/yyyy')}">Date</td>

                                                    <!-- Day -->
                                                    <td th:text="${#dates.format(individualTour.date, 'EEEE')}">Day</td>

                                                    <!-- Hour -->
                                                    <td th:text="${individualTour.hour}">Hour</td>

                                                    <!-- Student Name -->
                                                    <td th:text="${individualTour.student.name}">Student Name</td>

                                                    <!-- Interested Field -->
                                                    <td th:text="${individualTour.interestedField}">Interested Field</td>

                                                    <!-- High School Name -->
                                                    <td th:text="${individualTour.student.school.name}">High School Name</td>

                                                    <!-- City -->
                                                    <td th:text="${individualTour.student.school.city}">City</td>

                                                    <!-- Contact -->
                                                    <td th:text="${individualTour.student.phoneNumber}">Contact</td>

                                                    <!-- Guide -->
                                                    <td>
                                                        <div th:if="${individualTour.guides.isEmpty()}">
                                                            <span>-</span>
                                                        </div>
                                                        <div th:if="${!individualTour.guides.isEmpty()}">
                                                            <span th:text="${individualTour.guides[0].firstName + ' ' + individualTour.guides[0].lastName}"></span>
                                                        </div>
                                                    </td>

                                                    <!-- Actions -->
                                                    <td>
                                                        <!-- Show "Join Tour" Button if there's no conflict -->
                                                        <div th:if="${ individualTour.guides.isEmpty()
                                                                        && individualTour.status.name() == 'UPCOMING_INDIVIDUAL_TOUR'
                                                                        && !#lists.contains(guide.events, individualTour)
                                                                        && !individualTourConflicts[individualTour.id]
                                                                        && individualTour.date > currentDate}">
                                                            <button class="btn btn-sm join-individual-tour-button"
                                                                    th:data-tour-id="${individualTour.id}"
                                                                    th:data-guide-id="${guide.id}"
                                                                    th:data-student-name="${individualTour.student.name}"
                                                                    th:data-tour-date="${#dates.format(individualTour.date, 'dd/MM/yyyy')}">
                                                                Join Tour
                                                            </button>
                                                        </div>

                                                        <!-- Show "Leave Individual Tour" Button if already assigned -->
                                                        <div th:if="${#lists.contains(guide.events, individualTour) && individualTour.status.name() == 'UPCOMING_INDIVIDUAL_TOUR'}">
                                                            <!-- Check if there are less than 7 days to the individual tour -->
                                                            <div th:if="${individualTour.date.time - currentDate.time >= 7 * 24 * 60 * 60 * 1000}">
                                                                <button
                                                                        class="btn btn-sm leave-individual-tour-button"
                                                                        th:data-tour-id="${individualTour.id}"
                                                                        th:data-guide-id="${guide.id}"
                                                                        th:data-student-name="${individualTour.student.name}"
                                                                        th:data-tour-date="${#dates.format(individualTour.date, 'dd/MM/yyyy')}">
                                                                    Leave Tour
                                                                </button>
                                                            </div>
                                                            <!-- Show Locked message if < 7 days -->
                                                            <div th:if="${individualTour.date.time - currentDate.time < 7 * 24 * 60 * 60 * 1000}">
                                                                <span class="text-danger fw-bold">LOCKED</span>
                                                            </div>
                                                        </div>

                                                        <!-- Show "Time Conflict" Message if there's a conflict -->
                                                        <div th:if="${ individualTour.guides.isEmpty()
                                                                        && individualTour.status.name() == 'UPCOMING_INDIVIDUAL_TOUR'
                                                                        && !#lists.contains(guide.events, individualTour)
                                                                        && individualTourConflicts[individualTour.id]}">
                                                            <span class="text-danger fw-bold">CONFLICT</span>
                                                        </div>

                                                        <!-- Show "No Guide Slot" Message if there's no slot -->
                                                        <div th:if="${individualTour.guides.size() == individualTour.guideCount
                                                                        && individualTour.status.name() == 'UPCOMING_INDIVIDUAL_TOUR'
                                                                        && !#lists.contains(guide.events, individualTour)}">
                                                            <span class="text-danger fw-bold">NO SLOT</span>
                                                        </div>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="pagination-container text-center">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination d-inline-flex" th:if="${individualTours != null and individualTours.totalPages > 0}">
                                                    <!-- Previous Button -->
                                                    <li class="page-item" th:if="${individualTours.hasPrevious()}">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(individualToursPage=${individualTours.number - 1}, individualToursSize=${individualTours.size}, dayFilter=${selectedDay})}">
                                                            Previous
                                                        </a>
                                                    </li>
                                                    <!-- Page Numbers -->
                                                    <li class="page-item" th:each="i : ${#numbers.sequence(0, individualTours.totalPages - 1)}"
                                                        th:classappend="${i == individualTours.number} ? 'active'">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(individualToursPage=${i}, individualToursSize=${individualTours.size}, dayFilter=${selectedDay})}"
                                                           th:text="${i + 1}">
                                                        </a>
                                                    </li>
                                                    <!-- Next Button -->
                                                    <li class="page-item" th:if="${individualTours.hasNext()}">
                                                        <a class="page-link"
                                                           th:href="@{/guideTables(individualToursPage=${individualTours.number + 1}, individualToursSize=${individualTours.size}, dayFilter=${selectedDay})}">
                                                            Next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Legend -->
                        <div class="status-legend-container">
                            <ul class="status-legend list-unstyled d-flex justify-content-between align-items-center">
                                <li class="legend-item new">UPCOMING</li>
                                <li class="legend-item completed-tour">COMPLETED</li>
                                <li class="legend-item canceled-tour">CANCELED</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="notification-box" class="notification hidden"></div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="confirmMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmButton">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<!-- Include jQuery -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

<script th:src="@{/assets/bundles/lib.vendor.bundle.js}"></script>
<script th:src="@{/assets/js/core.js}"></script>
<script th:src="@{/assets/js/all-event-actions.js}"></script>
<script th:src="@{/assets/js/all-fair-actions.js}"></script>
<script th:src="@{/assets/js/all-individual-tour-actions.js}"></script>

</body>
</html>