<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <title>Dashboard</title>

    <!-- Bootstrap Core and vendor -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"  >

    <!-- Plugins css -->
    <link  th:href="@{/assets/plugins/charts-c3/c3.min.css}"  rel="stylesheet">

    <!-- Core css -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <link th:href="@{/assets/css/theme1.css}" rel="stylesheet" >
    <link rel="stylesheet" th:href="@{/assets/css/notifications.css}">
</head>

<body class="font-montserrat">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">

    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn">
                        <img class="avatar" th:src="@{/assets/images/user.png}" alt="" data-toggle="tooltip" data-placement="right" title="User Menu"/>
                    </a>
                    <a th:href="@{/calender}" class="nav-link icon app_inbox xs-hide">
                        <i class="fa fa-calendar"></i>
                    </a>
                    <a th:href="@{/ui/UserProfile/profile}" class="nav-link icon xs-hide">
                        <i class="fa fa-id-card-o"></i>
                    </a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar">
                        <i class="fa fa-gear fa-spin" data-toggle="tooltip" data-placement="right" title="Settings"></i>
                    </a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle">
                        <i class="fa fa-align-left"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div id="rightsidebar" class="right_sidebar">
        <a href="javascript:void(0)" class="p-3 settingbar float-right">
            <i class="fa fa-close"></i>
        </a>
        <div class="p-4">
            <div class="mb-4">
                <h6 class="font-14 font-weight-bold text-muted">Font Style</h6>
                <div class="custom-controls-stacked font_setting">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-opensans">
                        <span class="custom-control-label">Open Sans Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-montserrat" checked="">
                        <span class="custom-control-label">Montserrat Google Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-roboto">
                        <span class="custom-control-label">Roboto Google Font</span>
                    </label>
                </div>
            </div>
            <hr>
            <div class="mb-4">
                <h6 class="font-14 font-weight-bold text-muted">Dropdown Menu Icon</h6>
                <div class="custom-controls-stacked arrow_option">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="marrow" value="arrow-a">
                        <span class="custom-control-label">A</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="marrow" value="arrow-b">
                        <span class="custom-control-label">B</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="marrow" value="arrow-c" checked="">
                        <span class="custom-control-label">C</span>
                    </label>
                </div>
                <h6 class="font-14 font-weight-bold mt-4 text-muted">SubMenu List Icon</h6>
                <div class="custom-controls-stacked list_option">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="listicon" value="list-a" checked="">
                        <span class="custom-control-label">A</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="listicon" value="list-b">
                        <span class="custom-control-label">B</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="listicon" value="list-c">
                        <span class="custom-control-label">C</span>
                    </label>
                </div>
            </div>
            <hr>
            <div>
                <h6 class="font-14 font-weight-bold mt-4 text-muted">General Settings</h6>
                <ul class="setting-list list-unstyled mt-1 setting_switch">
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Night Mode</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-darkmode">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Fix Navbar top</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-fixnavbar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Header Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-pageheader" checked="">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Min Sidebar Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-min_sidebar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Sidebar Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-sidebar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Icon Color</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-iconcolor">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Gradient Color</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-gradient">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Box Shadow</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxshadow">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">RTL Support</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-rtl">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Box Layout</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxlayout">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="form-group">
                <label class="d-block">Storage <span class="float-right">77%</span></label>
                <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                </div>
                <button type="button" class="btn btn-primary btn-block mt-3">Upgrade Storage</button>
            </div>
        </div>
    </div>


    <div class="theme_div">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-unstyled">
                    <li class="list-group-item mb-2">
                        <p>Default Theme</p>
                        <a href="@{/project/index.html}">
                            <img th:src="@{/assets/images/themes/default.png}" class="img-fluid" />
                        </a>
                    </li>
                    <li class="list-group-item mb-2">
                        <p>Night Mode Theme</p>
                        <a href="@{/project-dark/index.html}">
                            <img th:src="@{/assets/images/themes/dark.png}" class="img-fluid" />
                        </a>
                    </li>
                    <li class="list-group-item mb-2">
                        <p>RTL Version</p>
                        <a href="@{/project-rtl/index.html}">
                            <img th:src="@{/assets/images/themes/rtl.png}" class="img-fluid" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="user_div">
        <h5 class="brand-name mb-4">Guide<a href="javascript:void(0)" class="user_btn"><i class="icon-logout"></i></a></h5>
        <div class="card-body">
            <a th:href="@{/ui/UserProfile/profile}"><img th:src="${user.picture}" class="card-profile-img" alt="Profile Picture"></a>
            <h6 class="mb-0" th:text="${user.firstName + ' ' + user.lastName}"></h6>
            <span th:text="${user.email}"></span>
            <hr>
        </div>
    </div>


    <div id="left-sidebar" class="sidebar">
        <h5 class="brand-name">Guide
            <a href="javascript:void(0)" class="menu_option float-right">
                <i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i>
            </a>
        </h5>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading">Project</li>
                <li class="active">
                    <a th:href="@{/dashboard}">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/getAllUsers}">
                        <i class="fa fa-user"></i><span>All Members</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/getRecordsOfGuide}">
                        <i class="fa fa-user"></i><span>Event Records</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/getIncidentReports}">
                        <i class="fa fa-user"></i><span>Incident Reports</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/ui/task/todo}">
                        <i class="fa fa-check-square-o"></i><span>To Do List</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/updateSchedule}">
                        <i class="fa fa-user"></i><span>Schedule</span>
                    </a>
                </li>
                <li class="g_heading"></li>

                <li>
                    <a th:href="@{/calender}">
                        <i class="fa fa-calendar"></i><span>Calendar</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="page">
        <div id="page_top" class="section-body top_dark">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa  fa-align-left"></i></a>
                        <h1 class="page-title">Dashboard</h1>
                    </div>
                    <div class="right">

                        <div class="notification d-flex">
                            <div class="dropdown d-flex">
                                <div th:replace="notifications::notifications-panel"></div>
                            </div>

                            <audio id="notification-sound" preload="auto">
                                <source th:src="@{/assets/sounds/notification.mp3}" type="audio/mpeg">
                            </audio>

                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" th:href="@{/ui/UserProfile/profile}"><i class="dropdown-icon fe fe-user}"></i> Profile</a>
                                    <a class="dropdown-item" href="javascript:void(0)"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/ui/auth/logout}"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-45">
            <div class="container-fluid">
                <div class="flex-column">
                    <div class="col-lg-12">
                        <h3><strong>Welcome<span th:text=" ' ' + ${user.firstName}+ ' ' + ${user.lastName}"></span>!</strong></h3>
                        <div class="d-flex justify-content-between align-items-start">
                            <!-- Left Side: Text and Learn More Link -->
                            <div>
                                <small> <a href="#"></a></small>
                            </div>

                            <div class="card" style="border-radius: 16px; width: 300px; margin-bottom: 25px; background-color: white;">
                                <a th:if="${advisor != null}"
                                   th:href="@{'/ui/UserProfile/getUserProfile'(userId=${advisor.id})}"
                                   style="text-decoration: none; color: inherit;">
                                    <div class="card-header mt-12 d-flex justify-content-center"
                                         style="border-radius: 16px; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); cursor: pointer;">
                                        <h3 class="card-title">
                                            View Today's Advisor:
                                            <span style="color: #2f93ff;" th:text="${advisor.firstName} + ' ' + ${advisor.lastName}"></span>
                                        </h3>
                                    </div>
                                </a>
                                <div th:if="${advisor == null}"
                                     class="card-header mt-12 d-flex justify-content-center"
                                     style="border-radius: 16px; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                    <h3 class="card-title" style="color: #ff0000;">
                                        No Responsible Advisor assigned
                                    </h3>
                                </div>
                            </div>



                        </div>

                        <div class="row clearfix row-deck mt-12">
                            <!-- Tours and Fairs Card -->
                            <div class="col-6">
                                <a th:href="@{/guideTables}" style="text-decoration: none; color: inherit; height: 100%; width: 100%;">
                                    <div class="card" style="border-radius:16px; min-height: 200px; cursor: pointer;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                        <div class="card-body" style="border-radius:16px; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                            <h3 class="card-title" style="font-weight: bold; font-size: 24px; margin-bottom: 0;">Tours and Fairs</h3>
                                            <h5 class="number mb-0 font-32 counter" style="font-size: 32px; margin-top: 10px;"  th:text="${tours.size() + fairs.size()}"></h5>
                                            <span class="font-12" style="color: #6e7687; margin-top: 5px;">View all tours and fairs</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Upcoming Events Card -->
                            <div class="col-6">
                                <div class="card" style="border-radius:16px; min-height: 200px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                    <div class="card-body" style="border-radius:16px; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                        <h3 class="card-title" style="font-weight: bold; font-size: 24px; margin-bottom: 0;">Upcoming Events</h3>
                                        <h5 class="number mb-0 font-32 counter" style="font-size: 32px; margin-top: 10px;" th:text="${upComing}"></h5>
                                        <span class="font-12" style="color: #6e7687; margin-top: 5px;">View all scheduled events on the calendar</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix row-deck">
                            <!-- Members Card -->
                            <div class="col">
                                <a th:href="@{/getAllUsers}" style="text-decoration: none; color: inherit; height: 100%; width: 100%;">
                                    <div class="card" style="border-radius:16px; min-height: 200px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                        <div class="card-body" style="border-radius:16px; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                            <h3 class="card-title" style="font-weight: bold; font-size: 24px; margin-bottom: 0;">Members</h3>
                                            <h5 class="number mb-0 font-32 counter" style="font-size: 32px; margin-top: 10px;" th:text="${users.size()}"></h5>
                                            <span class="font-12" style="color: #6e7687; margin-top: 5px;">View all members of BTO</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Points Card -->
                            <div class="col">
                                <a th:href="@{/getRecordsOfGuide}" style="text-decoration: none; color: inherit; height: 100%; width: 100%;">
                                    <div class="card" style="border-radius:16px; min-height: 200px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                        <div class="card-body" style="border-radius:16px; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                            <h3 class="card-title" style="font-weight: bold; font-size: 24px; margin-bottom: 0;">Event Records</h3>
                                            <h5 class="number mb-0 font-32 counter" style="font-size: 32px; margin-top: 10px;" th:text="${sum}"></h5>
                                            <span class="font-12" style="color: #6e7687; margin-top: 5px;">View your event records</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- To-Do List Card -->
                            <div class="col">
                                <a th:href="@{/ui/task/todo}" style="text-decoration: none; color: inherit; height: 100%; width: 100%;">
                                    <div class="card" style="border-radius:16px; min-height: 200px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                        <div class="card-body" style="border-radius:16px; padding: 20px; display: flex; flex-direction: column; justify-content: flex-start; text-align: left;">
                                            <h3 class="card-title" style="font-weight: bold; font-size: 24px; margin-bottom: 10px;">To-Do List</h3>
                                            <div th:each="tasks : ${tasks}" class="d-flex align-items-center" style="margin-bottom: 5px;">
                                                <input type="checkbox" th:id="'task' + ${tasks.taskId}" th:checked="${tasks.state}" style="margin-right: 10px; vertical-align: middle;">
                                                <label th:for="'task' + ${tasks.taskId}" style="vertical-align: middle;">
                                                    <span th:text="${tasks.taskDescription}">Task Description</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card" style="border-radius:16px; min-height: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                <div class="card-body" style="border-radius:16px; padding: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                    <div id="countdown" style="font-size: 20px;font-weight: bold; color: #031961;">Remaining Time Until Upcoming Event: </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/bundles/lib.vendor.bundle.js}"></script>
<script th:src="@{/assets/bundles/apexcharts.bundle.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js}"></script>

<!-- <script th:src="@{/assets/bundles/counterup.bundle.js}"></script> -->
<script th:src="@{/assets/bundles/knobjs.bundle.js}"></script>
<script th:src="@{/assets/bundles/c3.bundle.js}"></script>
<script th:src="@{/assets/js/core.js}"></script>
<script th:src="@{/assets/js/page/project-index.js}"></script>
<script th:src="@{/assets/js/notifications.js}"></script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        // Get the event date passed from the backend
        var eventDate = [[${eventDate}]];

        // Check if an event date exists
        if (eventDate) {
            // Convert to JavaScript Date object
            var upcomingEventDate = new Date(eventDate);

            // Countdown function
            function updateCountdown() {
                var currentDate = new Date();
                var remainingTime = upcomingEventDate - currentDate;

                if (remainingTime <= 0) {
                    document.getElementById("countdown").innerHTML = "The event is happening now!";
                    clearInterval(countdownInterval);
                } else {
                    var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

                    document.getElementById("countdown").innerHTML =
                        "Remaining Time Until The Next Event: " +
                        days + "d " + hours + "h " + minutes + "m " + seconds + "s";
                }
            }

            // Start countdown interval
            var countdownInterval = setInterval(updateCountdown, 1000); // Update every second
        } else {
            // Handle the case where there is no event date
            document.getElementById("countdown").innerHTML = "No upcoming events scheduled.";
        }
    });

</script>

</body>
</html>