<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" dir="ltr">
<head>
    <style>
        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

        /* Force Success Alert to Green */
        .alert-success {
            background-color: #28a745 !important;
            color: #fff !important;
            border-color: #28a745 !important;
        }

        /* Close Button for Green Alerts */
        .alert-success .btn-close {
            color: #fff;
            opacity: 1;
            filter: invert(1); /* Makes the close button white */
        }

        .card-body {
            padding: 10px; /* Adjusted to reduce space inside the card */
        }

        .avatar-container {
            margin: 0; /* Remove extra margin */
            padding: 0; /* Remove extra padding */
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #ccc; /* Optional border for better aesthetics */
            display: block;
            margin: 0; /* Ensures no additional margin */
        }

        /* Remove vertical lines between columns */
        .table-custom th,
        .table-custom td {
            border: none; /* Removes the borders */
        }

        .table-custom {
            border-collapse: collapse; /* Ensures no spacing between cells */
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <title>Member List</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/plugins/sweetalert/sweetalert.css"/>
    <link rel="stylesheet" href="../assets/plugins/dropify/css/dropify.min.css">

    <!-- Core css -->
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <link rel="stylesheet" href="../assets/css/theme1.css"/>
</head>

<body class="font-montserrat offcanvas-active">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">

    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <img class="avatar" th:src="@{/bilkent.png}" alt="User Avatar"
                         style="width: 40px; height: 40px; border-radius: 50%; margin-top:5px;">
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa  fa-align-left"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="left-sidebar" class="sidebar ">
        <h5 class="brand-name"
            style="font-weight: bold; margin-left: 5px; font-size: 18px; margin-top: 10px;">
            <span th:if="${role == 'ROLE_GUIDE'}">Guide</span>
            <span th:if="${role == 'ROLE_GUIDE_IN_TRAINING'}">Guide in Training</span>
            <span th:if="${role == 'ROLE_ADVISOR'}">Advisor</span>
            <span th:if="${role == 'ROLE_COORDINATOR'}">Coordinator</span>
            <span th:if="${role == 'ROLE_HEAD_SECRETARY'}">Head Secretary</span>
            <span th:if="${role == 'ROLE_DIRECTOR'}">Director</span>
        </h5>

        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading"></li>
                <li class="active">
                    <a th:href="@{/dashboard}">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/getAllUsers}">
                        <i class="fa fa-user"></i><span>Members</span>
                    </a>
                </li>
                <li>
                <li>
                    <a th:href="@{/getIncidentReports}">
                        <i class="fa fa-user"></i><span>Incident Reports</span>
                    </a>
                <li>
                    <a th:href="@{/ui/task/todo}">
                        <i class="fa fa-check-square-o"></i><span>Todo List</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/calendar}">
                        <i class="fa fa-calendar"></i><span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/ui/UserProfile/profile}">
                        <i class="fa fa-user"></i><span>My profile</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="page">
        <div id="page_top" class="section-body top_dark">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa  fa-align-left"></i></a>
                        <h1 class="page-title">Member List</h1>
                    </div>
                    <div class="right">

                        <div class="notification d-flex">
                            <div class="dropdown d-flex">
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <ul class="right_chat list-unstyled w350 p-0">
                                        <li class="online">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object" src="../assets/images/xs/avatar4.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Donald Gardner</span>
                                                    <div class="message">It is a long established fact that a reader</div>
                                                    <small>11 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="online">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object " src="../assets/images/xs/avatar5.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Wendy Keen</span>
                                                    <div class="message">There are many variations of passages of Lorem Ipsum</div>
                                                    <small>18 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="offline">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object " src="../assets/images/xs/avatar2.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Matt Rosales</span>
                                                    <div class="message">Contrary to popular belief, Lorem Ipsum is not simply</div>
                                                    <small>27 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="online">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object " src="../assets/images/xs/avatar3.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Phillip Smith</span>
                                                    <div class="message">It has roots in a piece of classical Latin literature from 45 BC</div>
                                                    <small>33 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                                </div>
                            </div>
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-primary nav-unread"></span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <ul class="list-unstyled feeds_widget">
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-check"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title text-danger">Issue Fixed <small class="float-right text-muted">11:05</small></h4>
                                                <small>WE have fix all Design bug with Responsive</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-user"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">New User <small class="float-right text-muted">10:45</small></h4>
                                                <small>I feel great! Thanks team</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-thumbs-o-up"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">7 New Feedback <small class="float-right text-muted">Today</small></h4>
                                                <small>It will give a smart finishing to your site</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-question-circle"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title text-warning">Server Warning <small class="float-right text-muted">10:50</small></h4>
                                                <small>Your connection is not private</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">7 New Orders <small class="float-right text-muted">11:35</small></h4>
                                                <small>You received a new oder from Tina.</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                                </div>
                            </div>
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-user"></i></a><div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" th:href="@{/ui/UserProfile/profile}"><i class="dropdown-icon fe fe-user}"></i> Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/ui/auth/logout}"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div th:if="${successMessage != null and successMessage != ''}"
                         class="alert alert-success alert-dismissible fade show" role="alert">
                        <span th:text="${successMessage}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${errorMessage != null and errorMessage != ''}"
                         class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${errorMessage}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Role Filter Buttons and Add New Member Button -->
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <!-- Role Filter Buttons -->
                                    <div class="d-flex flex-wrap gap-3 align-items-center">
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary"
                                           onclick="resetFilter()">Show All</a>
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary"
                                           onclick="filterByRole('ROLE_GUIDE')">Guide</a>
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary"
                                           onclick="filterByRole('ROLE_GUIDE_IN_TRAINING')">Guide in Training</a>
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary"
                                           onclick="filterByRole('ROLE_ADVISOR')">Advisor</a>
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary"
                                           onclick="filterByRole('ROLE_COORDINATOR')">Coordinator</a>
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary"
                                           onclick="filterByRole('ROLE_HEAD_SECRETARY')">Head Secretary</a>
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary"
                                           onclick="filterByRole('ROLE_DIRECTOR')">Director</a>
                                    </div>
                                    <!-- Add New Member Button -->
                                    <div class="d-flex align-items-center">
                                        <a th:if="${role == 'ROLE_COORDINATOR'}"
                                           th:href="@{/ui/auth/register}"
                                           class="btn btn-primary">
                                            Add New Member
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- Filter Buttons -->


        <div class="container px-3">
            <div class="row mx-1">
                <div class="col-lg-12">
                    <div class="card" style="background-color: #f8f9fa;">
                        <div class="card-body">
                            <div class="table-responsive" id="users">
                                <table class="table table-hover table-vcenter text-nowrap table_custom border-style list">
                                    <thead style="border-bottom: 1px solid #ddd;">
                                    <tr>
                                        <!-- Empty Header for Avatar Column -->
                                        <th></th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Bilkent ID</th>
                                        <th>Role</th>
                                        <!-- Conditional Header for Actions -->
                                        <th th:if="${roleUser == 'ROLE_COORDINATOR'}" class="text-right" style="border-right: none;">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Check if the users list is empty -->
                                    <tr th:if="${#lists.isEmpty(all_users)}">
                                        <td colspan="6" style="text-align: center; color: #888;">
                                            No users found.
                                        </td>
                                    </tr>

                                    <!-- Filter Rows Dynamically -->
                                    <tr th:each="user : ${all_users}" th:if="${roleFilter == null || user.role == roleFilter}">
                                        <td class="text-center width40">
                                            <div class="avatar-container">
                                                <img class="avatar"
                                                     th:src="${user.picture != null && !user.picture.isEmpty() ? user.picture : '/assets/images/default-avatar.png'}"
                                                     alt="avatar">
                                            </div>
                                        </td>
                                        <td>
                                            <a th:href="@{'/ui/UserProfile/getUserProfile?userId=' + ${user.id}}"
                                               th:text="|${user.firstName != null && !user.firstName.isEmpty() ? user.firstName : 'Unknown'} ${user.lastName != null && !user.lastName.isEmpty() ? user.lastName : 'User'}|">
                                            </a>
                                            <div th:text="${user.phoneNumber != null && !user.phoneNumber.isEmpty() ? user.phoneNumber : 'N/A'}"></div>
                                        </td>
                                        <td class="hidden-xs">
                                            <div th:text="${user.email != null && !user.email.isEmpty() ? user.email : 'N/A'}"></div>
                                        </td>
                                        <td class="hidden-xs">
                                            <div th:text="${user.id != null && !user.id.toString().isEmpty() ? user.id : 'N/A'}"></div>
                                        </td>
                                        <td class="hidden-xs">
        <span th:switch="${user.role}">
            <span th:case="'ROLE_COORDINATOR'">Coordinator</span>
            <span th:case="'ROLE_GUIDE'">Guide</span>
            <span th:case="'ROLE_ADVISOR'">Advisor</span>
            <span th:case="'ROLE_USER'">User</span>
            <span th:case="'ROLE_DIRECTOR'">Director</span>
            <span th:case="'ROLE_HEAD_SECRETARY'">Head Secretary</span>
            <span th:case="'ROLE_GUIDE_IN_TRAINING'">Guide In Training</span>
        </span>
                                        </td>
                                        <td class="text-right" th:if="${roleUser == 'ROLE_COORDINATOR'}">
                                            <div class="user-actions">
                                                <!-- Link to edit page, passing user.id -->
                                                <a href="javascript:void(0);" class="edit" th:href="@{'/ui/UserProfile/getUserProfile?userId=' + ${user.id}}" title="Edit">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <!-- Link to delete page, passing user.id -->
                                                <a th:href="@{'deleteUser/' + ${user.id}}"
                                                   th:onclick="return confirm('Are you sure you want to delete this user?')"
                                                   title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>








    </div>
</div>


<script src="../assets/bundles/lib.vendor.bundle.js"></script>

<script src="../assets/bundles/sweetalert.bundle.js"></script>
<script src="../assets/plugins/dropify/js/dropify.min.js"></script>

<script src="../assets/js/core.js"></script>
<script src="assets/js/page/sweetalert.js"></script>
<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(function() {
        "use strict";

        $('.dropify').dropify();

        var drEvent = $('#dropify-event').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
    });
    function filterByRole(role) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('roleFilter', role);
        window.location.search = urlParams.toString();
    }

    // Function to reset the role filter
    function resetFilter() {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.delete('roleFilter');
        window.location.search = urlParams.toString();
    }
</script>
</body>
</html>